<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">

    <display-name>expense_tracker</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>welcome.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <!-- Servlet Configuration -->
   

    <!-- Filter Configuration (if needed) -->
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.authFilter.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/addExpense.jsp</url-pattern>
        <url-pattern>/addIncome.jsp</url-pattern>
    </filter-mapping>

</web-app>
